:root {
  --black: #171F26;
  --brown: #594F3B;
  --dkgreen: #56735A;
  --green: #6C8C64;
  --lightgreen: #7CA668;
}
body {
  background-color: var(--black);
}

doro-nav {
  --nav-bgcolor: var(--black);
  --nav-link: var(--green);
  --nav-link-active: var(--lightgreen)
}




